.container {
  padding: 0;

  header {
    display: grid;
    grid-template-rows: 10vh 90vh;
    position: relative;
    justify-items: center;
  }

  header::after {
    content: "";
    background-image: url(../img/header-xs-background4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   


  }

  header .nav {
    position: fixed;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    padding: 1.875rem;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    width: 100%;
    overflow: hidden;
    background-color: $menuMobileBackground;
    -webkit-transition: ease-in 0.4s;
    -moz-transition: ease-in 0.4s;
    -o-transition: ease-in 0.4s;
    transition: ease-in 0.4s;

    h1 {
      grid-column: 1/2;
      
      img {
        width: 50%;
        max-width: 170px;
        min-width: 83px;
        -webkit-transition: ease-in 0.4s;
        -moz-transition: ease-in 0.4s;
        -o-transition: ease-in 0.4s;
        transition: ease-in 0.4s;
        
      }

    }

    .menuBtn {
      width: 40px;
      height: 40px;
      grid-column: 5/5;
      margin-left: auto;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all .5s ease-in-out;
      border: 3px solid black;
      border-radius: 20%;

      .menuBtnBurger {
        width: 20px;
        height: 3px;
        background: black;
        border-radius: 5px;
        transition: all .5s ease-in-out;
      }
      .menuBtnBurger::before,
      .menuBtnBurger::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 3px;
        background-color: black;
        transition: all .5s ease-in-out;
      }

      .menuBtnBurger::before {
        transform: translateY(-7px);
      }

      .menuBtnBurger::after {
        transform: translateY(7px);
      }

    }
    .menuBtn.open .menuBtnBurger {
      transform: translateX(-50px);
      background: transparent;
    }

    .menuBtn.open .menuBtnBurger::before {
      transform: rotate(45deg) translate(35px, -35px);
    }

    .menuBtn.open .menuBtnBurger::after {
      transform: rotate(-45deg) translate(35px, 35px);
    }
    
  }

  header #menuSlide {
    position: fixed;
    right: -40%;
    width: 30%;
    max-width: 140px;
    background-color: $menuMobileBackground;
    transition: right 0.4s linear;
    z-index: 5;
    display: flex;
    flex-direction: column;
    border-radius: 50% 0% 0% 50% / 50% 0% 0% 50%;
    overflow: hidden;

    a {
      color: black;
      text-align: center;
      padding: 15px 0 15px 15px;
      cursor: pointer;
      transition: 0.2s;
      border: none;


      &:hover {
        background-color: white;
        border-top: 1px solid rgb(149, 237, 245);
        border-bottom: 1px solid rgb(149, 237, 245);

      }
    }

  }


  header .banner-text {
    position: absolute;
    top: 52%;
    bottom: 50%;
    h2 {
      font-size: 2.5rem;
      text-align: center;
      text-transform: uppercase;
      font-weight: bolder;
      letter-spacing: 0.187rem;
      line-height: 1.2;

      span {
        font-weight: 400;
        color: #fff;
        font-size: 1rem;
      }
    }
  }

  header .mouse-icon {
    position: absolute;
    left: 50%;
    bottom: 2.5rem;
    border: 0.125rem solid #000;
    border-radius: 1rem;
    height: 3.125rem;
    width: 1.875rem;
    margin-left: -1.062rem;
    display: block;
    z-index: 2;
  }
  
  header .mouse-icon .wheel {
    -webkit-animation-name: drop;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;

    -moz-animation-name: drop;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-delay: 0s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-play-state: running;

    -o-animation-name: drop;
    -o-animation-duration: 1s;
    -o-animation-timing-function: linear;
    -o-animation-delay: 0s;
    -o-animation-iteration-count: infinite;
    -o-animation-play-state: running;
    
    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
  }
  
  header .mouse-icon .wheel {
    position: relative;
    border-radius: 0.625rem;
    background: #000;
    width: 0.25rem;
    height: 0.625rem;
    top: 0.25rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  @-webkit-keyframes drop {
      0%   { top:0.312rem;  opacity: 0;}
      30%  { top:0.625rem; opacity: 1;}
      100% { top:1.562rem; opacity: 0;}
  }
  
  
  @keyframes drop	{
    0%   { top:0.312rem;  opacity: 0;}
    30%  { top:0.625rem; opacity: 1;}
    100% { top:1.562rem; opacity: 0;}
  }

}

@media (min-width: 480px) {
  header .banner-text {
    h2 {
      font-size: 3rem;

      span {
        font-size: 1.5rem;
      }
    }

  }
}

@media (min-width: 600px) {

  .container header {

    .banner-text{
      width: 90%;
    }

    #menuSlide .link-menu{
      font-size: 1.2rem;
    }

  }

}

@media (max-width: 768px) {
  .navMenu {
    display: none;
  }
}

@media (min-width: 768px) {

  .container header .nav .navMenu {
    display: block;
    width: auto;
    grid-column-start: 3;
    grid-column-end: 6;
    text-align: right;
    font-size: 1.1rem;

    .link {
      color: black;
      padding: 0.312rem;
      display: inline-block;
      text-transform: uppercase;   
      margin-right: 0.625rem;  
      cursor: pointer;
    
    }

    .link::after {
      content: '';
      display: block;
      margin-top: 5px;
      width: 0;
      height: 0.125rem;
      background: #000;
      -webkit-transition: width .3s;
      -moz-transition: width .3s;
      -o-transition: width .3s;
      transition: width .3s;
    }

    .link:hover::after {
      width: 100%;
    }
  }

  .container header .nav .menuBtn {
    display: none;
  }

  .container header .banner-text h2 {
    font-size: 3rem;
    
    span {
      font-size: 1.5rem;
    }
  }
}

@media (min-width: 992px) {
  .container header .nav .navMenu {
    font-size: 1.4rem;

    .link {
      margin-right: 30px;
    }
  }
}